/*========================================================================*\
|| ###################################################################### ||
|| # vBulletin 5.6.1
|| # ------------------------------------------------------------------ # ||
|| # Copyright 2000-2020 MH Sub I, LLC dba vBulletin. All Rights Reserved.  # ||
|| # This file may not be redistributed in whole or significant part.   # ||
|| # ----------------- VBULLETIN IS NOT FREE SOFTWARE ----------------- # ||
|| # http://www.vbulletin.com | http://www.vbulletin.com/license.html   # ||
|| ###################################################################### ||
\*========================================================================*/

.vB_DatePicker td {
	padding: 1px;
	text-align: center;
	width: 15px;
}

.vB_DatePicker .tcat {
	padding: 1px;
	text-align: center;
}

.vB_DatePicker .today {
	padding: 0px;
	border: solid 1px red;
}

/*========================================================================*\
|| ######################################################################
|| # NulleD By - vBSupport.org
|| # CVS: $RCSfile$ - $Revision: 99798 $
|| ######################################################################
\*========================================================================*/
